main {
  #nextJpoSection {
    h1 {
      height: 80px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      margin-left: 20px;
      font-weight: 600;
    }
    #divCards {
      padding: 0 80px 60px 80px;
      #cardJpo {
        background-color: var(--bg-light);
        padding: 20px 32px;
        p {
          margin-bottom: 20px;
        }
        button {
          background-color: var(--blue-color);
          padding: 5px;
        }
      }
    }
  }
  #byCitySection {
    #cityBtns {
      margin: 40px 0 40px 80px;
      button {
        padding: 2px 5px;
      }
    }
    #divCards {
      padding: 0 80px 60px 80px;
      #cardJpo {
        background-color: var(--blue-color);
        color: var(--bg-light);
        padding: 20px 32px;
        p {
          margin-bottom: 20px;
        }
        button {
          background-color: var(--bg-light);
          color: black;
          padding: 5px;
        }
      }
    }
  }
  #newsletterSection {
    p {
      font-size: 20px;
    }
    form {
      padding-left: 5px;
      border-left: 2px solid var(--black-color);
      .dropdown {
        select {
          padding: 2px 5px;
        }
      }
      .dropdown-content {
        padding: 5px;
      }
      input {
        padding: 2px 5px 3px 5px;
      }
      button {
        padding: 2px 5px;
      }
    }
  }
}